<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <form th:method="post" th:action="@{/balloons/selectBalloon}">
        <h2>Choose a balloon:</h2>

<!--
        <ul>
            <li th:each="balloon : ${balloons}">
                <input type="radio" name="balloon" th:value="${balloon.getName()}">
                <th:block th:text="${balloon.getName()}"></th:block>
            </li>
        </ul>
-->

        <table>
            <thead>
                <tr>
                    <td>Balloon name</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="balloon : ${balloons}">
                    <td>
                        <input type="radio" name="balloon" th:value="${balloon.getName()}">
                        <th:block th:text="${balloon.getName()}"></th:block>
                    </td>
                    <td>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:method="POST" th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}">
                                <button type="submit" class="adminbtn">Delete</button>
                            </form>
                        </th:block>
                    </td>
                    <td>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:method="GET" th:action="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}">
                                <button type="submit" class="adminbtn">Edit</button>
                            </form>
                        </th:block>
                    </td>

                </tr>
            </tbody>
        </table>


        <h2>Choose balloon color:</h2>
        <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
        <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
        <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
        <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/balloons/addNewBalloon" class="adminbtn">Add a new balloon</a>
    </th:block>
</main>
</body>
</html>